/************************
  SITE STYLES
************************/
body {
  margin-top: 100px;

  @media @mq-md {
    margin-top: 135px;
  }
}

.container {
  box-sizing: border-box;

  @media @mq-md {
    margin-left: auto;
    margin-right: auto;
    padding-left:auto;
    padding-right:auto;
  }
}

//= Desktop
.desktop {
  display: none;
  @media @mq-lg {
    display: block;
  }
}

//= Mobile
.mobile {
  display: inherit;

  @media @mq-lg {
    display: none;
  }
}

//= Logo
.logo {
  display: block;
  margin: 0 auto;
  width:100%;
  max-width: 150px;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 10;

  @media @mq-md {
    margin: 0px;
    position: static;
    display: inline-block;
    vertical-align: middle;
    width: 15%;

    a {
      width: 100%;
      display: block;

      img {
        width: 100%;
      }
    }
  }

  a {
    display: block;

    img {
        width: 100%;
    }
  }
}

//= Header
.sticky-header {
  position: fixed;
  top: 0px;
  left: 0%;
  right: 0%;
  background-color: @white;
  z-index: 10;

  @media all and (max-width:@screen-md) {
    width: 100%;
  }

  .container {
    padding-left:0px;
    padding-right: 0px;
  }

  &.active {
    box-shadow: 0px 5px 15px @gray--light;
  }

  @media @mq-md {
    margin: 0px auto;
    padding: 20px 0px;
    white-space:nowrap;
  }
}

.navigation {
  position: relative;

  @media @mq-md {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    width: 84%;
  }

  .icon {
    color:@primary;
    display:inline-block;
    cursor:pointer;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;

    @media @mq-md {
      display: none;
    }

    &.active {
      background-color:@bkg-dark-blue;
      color:@white;

      .menu-icon--text {
        color:@bkg-dark-blue;
      }

      & ~ #main-nav {

        .mobile {
          background-color:@bkg-dark-blue;
          transform: translateX(0%);

          li {


            &:last-child {
              border-bottom: 0px;
            }
          }
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    li {
      display: inline-block;
      box-sizing:border-box;

      a {
        font-family: @sans-serif;
        color:@white;
        text-decoration:none;
      }
    }
  }
}

#main-nav {
  position: relative;

  @media @mq-md {
    top: 50px;
    right: 0px;
  }

  .mobile {
    background-color: @bkg-dark-blue;
    display: block;
    position: absolute;
    left:0px;
    right:0px;
    top:0px;
    width:100%;
    max-width: 400px;
    box-shadow: 0px 5px 5px @gray--light;
    transform: translateX(-200%);
    transition: transform 0.5s;

    @media @mq-md {
      display: none;
    }

    li {
      display: block;
      border-bottom: 1px solid @primary;
      .centered;
      padding: 15px 0px;
      margin: 0 15px;

      a {
        font-size:ceil((@font-size * 1.1)); // 18px
        line-height:1em;
        vertical-align: middle;
        text-transform: capitalize;
      }

      i {
        color:@white;
        margin-right: 5px;
        font-size: ceil((@font-size * 0.75)); // 12px
        line-height: ceil((@font-size * 1.1)); // 18px
        vertical-align: middle;
      }
    }
  }

  .desktop {
    display: none;

    @media @mq-md {
      display: block;
      width:100%;
      text-align: right;

      li {
        display: inline;
        padding: 0px 15px;

        &:last-child {
          padding-right: 0px;
        }

        a {
          color: @gray--dark;
          font-family: @sans-serif--light;
          font-size: 18px; // 18px
          line-height: 1.2em;

          &:hover {
            text-decoration: underline;
          }
        }

        &.current {
          a {
            text-decoration: underline;
          }
        }
      }
    }

    @media @mq-lg {
      li {
        width: auto;
        padding: 0px 3%;
      }
    }
  }
}

#utility-nav {
  position: absolute;
  top: 10px;
  right: 15px;
  color:@primary-light;

  a {
    color:@primary-light;
    display: inline-block;
    font-family: @sans-serif;
    text-transform: uppercase;
    font-size:@font-size--small;
  }

  @media @mq-md {
    top: 0px;
    right: 0px;

    .mobile {
      display: none;
    }

    .desktop {
      display: block;

      li {
        box-sizing: border-box;
        white-space: normal;
        .centered;
        padding: 0px 10px;

        &:last-child {
          padding-right: 0px;
        }

        &.current {
          a {
            color:@primary-dark;

            svg {
              fill: @primary-dark;
            }
          }
        }

       a {
          font-size:13px;

          &:hover {
            color:@primary-dark;

            svg {
              fill: @primary-dark;
            }
          }

          i {
           display: block;
           margin: 0 auto 5px;
          }
          span {
           display: block;
          }
          svg {
            &.icon-donate {
              width: 24px;
              height: 16px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}

.svg-store {
  display: none;
}

//= Content
.mission-gallery {
  padding: 5px 0px 20px;

  .heading p {
    margin-bottom:0px;
    padding-bottom:1em;
  }

  .grid-item--image {
    @media @mq-md {
      height: 300px;
    }
  }
}

.content {
  padding: 0 5% 20px;
  margin-bottom: 20px;
  box-sizing: border-box;

  @media @mq-md {
    max-width: @screen-lg;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color:@bkg-blue;
    text-decoration: none;
  }

  p a {
    line-height: 1.7em;
  }
  p > strong {
    font-family: @sans-serif;
    color:@gray--darker;
    display: block;
    margin: 20px 0px;
  }
  h2 {
    margin: 40px 0px 20px;
  }

  ol {
    padding-left: 30px;

    li {
      line-height: 1.7em;
    }
  }

  .callout {
    background-color:@blue-light;
    color:@white;
    text-align:center;
    width: 110%;
    padding: 15px 10%;
    margin-left: -5%;
    box-sizing: border-box;
    font-size: ceil((@font-size * 1.1)); // 18px
    white-space: normal;
  }

  .carousel {
    margin: 60px 0px;
  }

  .figure-list + h3{
    margin-top: 50px;
  }

  .note {
    font-size: 12px;
  }
}

.figure-list {
  text-align: center;

  .item {
    float: none;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
  }
}

.social {
  &-footer {
    display: block;

    @media @mq-md {
      display: inline-block;

      .social-icons i:hover{
        background-color:@black;
      }
    }
  }

  &-callout {
    padding: 0px 10%;
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 15px;

    @media @mq-md {
      max-width: @screen-lg;
      margin: 0 auto;
    }

    .social-icons {
      width: 100%;

      @media @mq-xs {
        white-space: nowrap;
      }

      a {
        display: block;
        padding: 0px 1%;
        margin: 30px 0px;
        text-decoration: none;

        @media @mq-xs {
          display: inline-block;
          width: 50%;
          box-sizing: border-box;
          white-space: normal;
          vertical-align: top;
          float:left;
        }

        @media @mq-sm {
          width: 25%;
          margin: 60px 0px;
        }
      }

      i {
        display: block;
        margin: 0px auto;
        font-size: 40px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        line-height:50px;

        @media @mq-md {
          font-size: 52px;
          width: 88px;
          height: 88px;
          border-radius: 88px;
          line-height:88px;
        }
      }

      .icon-text {
        display: block;
        margin: 20px 0px;
        font-family: @sans-serif--light;
        color:@gray--darker;
      }
    }
  }
}

.media-mentions {

  .grid {
    margin-top: 30px;
  }

  .grid-item--image {
    background-color: #999999;
    height: 200px;

    picture {
      .alignCenter;
    }
    img {
      max-width: 175px;
      margin: 0 auto;
      display: block;
    }
  }
}

.participation {
  display: block;
  max-width: 1200px;
  margin: 0 auto;

  &-option {
    font-size: 18px;
    width: 100%;
    display: block;
    margin: 15px 0px;
    position: relative;
    cursor:pointer;

    @media @mq-md {
      min-height:145px;
      width: 49%;
      margin-left: 1%;
      margin-right: 1%;
      float: left;
      display: inline-block;

      .inner {
        position: absolute;
      }
    }

    &.stand-alone {
      display: block;
      clear:both;
      min-height: auto;
      cursor: auto;

      @media @mq-md {
        width:50%;
        margin: 60px 25% 30px !important;
      }

      span {
        font-size:20px;
        color:#1e1e1e;
        margin-right: 15px;
      }

      .inner {
        position: static;
        text-align: center;
      }
    }

    &:nth-child(odd){
      margin-left: 0px;
    }

    &:nth-child(even){
      margin-right: 0px;
    }

    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .availability {
      color:@error;
      margin-top:1em;
      margin-bottom: 1em;
    }

    .expanded,
    .view-more .hide  {
      display: none;
    }

    .expanded {
      ul {
        margin-left: 0px;
        padding-left: 20px;

        li {
          font-size: @font-size--small;
          line-height:30px;
        }
      }
    }

    .view-more {
      margin-top: 20px;

      p {
        text-transform: uppercase;
      }

      span {
        color:@primary-light;
        margin-left: 10px;
        font-family: @serif-medium;
        font-size: 30px;
      }
    }

    .inner {
      padding: 15px;
      box-sizing: border-box;
      width:100%;
      background-color:#f4f4f4;
      transition: all 0.1s;
    }

    &.active {
      .inner {
        z-index:5;
        box-shadow: 0px 0px 15px @gray--light;
      }
      .expanded {
        display: block;
        background-color:#f4f4f4;
      }
      .view-more .hide {
        display: block;
      }
      .view-more .show {
        display: none;
      }
    }
  }
}

//= Footer
footer {
  .cta {
    display: block;
    background-color: @primary;
    .centered;

    a {
      color:#fff;
      display: block;
      font-family: @sans-serif--light;
      font-size: 28px;
      text-decoration: none;
      padding: 20px 2.5%;
      text-transform: uppercase;
    }
  }

  &.diamondBackground {
    padding-bottom: 0px;
  }
}

.sign-up {
  margin-top:30px;

  label {
    color:@gray--dark;
    display: block;
    padding: 15px 10px 10px 15px;
  }

  input {
    margin: 0px 2% 5px;
    padding: 13px 8px;
    width: 96%;
  }

  button {}

  &--dropdown {
    display: block;
    margin: 15px auto;
    max-width:300px;
    background-color:@bkg-gray;

    .pseudo-dropdown {
      &.active {

        .icon {
          transform: rotate(45deg);
        }

        & + .sign-up--form {
          height: auto;
          opacity: 1;
          transition: all ease 0.3s;
          box-shadow: 0 5px 65px #b2b2b2;

          @media @mq-md {
            box-shadow: 0 -5px 65px #b2b2b2;
          }
        }
      }
      &:focus {
        background-color:@bkg-gray;
      }
    }

    @media @mq-md {
      display: inline-block;
      width: auto;
      min-width: 250px;
      vertical-align: middle;
      margin-top: 0px;
      margin-bottom: 0px;
      position: relative;
    }
  }

  &--form {
    background-color:@bkg-gray;
    height:0px;
    opacity: 0.0;
    overflow:hidden;
    transition: all ease 0.5s;

    @media @mq-md {
      position: absolute;
      bottom: 43px;
      width: 100%;
    }
  }

  .pseudo-dropdown {
    padding: 12px;
    color:@gray--medium;
    position: relative;
    font-family:@sans-serif;
    cursor: pointer;

    .icon {
      position: absolute;
      right: 12px;
      font-size:ceil((@font-size * 2.2)); // 36px
      color:@primary-light;
      font-family:@serif;
      top: calc(50% - 41px);
      transform: rotate(0deg);
      transition: transform 0.3s;
    }
  }
}

.footer-links {
  .centered;
  padding-top:15px;
  background-color: @white;

  a {
    color:@gray--dark;
    font-family:AlrightSansBold, @sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 15px 5px 10px;
    position: relative;

    &:after {
      content: "/";
      position: absolute;
      right:0px;
    }

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      padding-right: 0px;

      &:after {
        content: "";
      }
    }
  }
}

.legal {
  display: block;
  .centered;
  font-family: @sans-serif;
  font-size: @font-size--small;
  color:@gray--dark;
}

.contact-info {
  padding: 30px 0;

  @media @mq-md {
    white-space: nowrap;
  }

  & > section {

    @media @mq-md {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      box-sizing:border-box;
      padding: 0 2.5%;
      white-space: normal;
      margin-top: 0px;

      hgroup {
        vertical-align: middle;
        display: block;

        h5 {
          text-align: left;
          margin-bottom: 10px;
        }
      }
    }


    @media @mq-lg {
      hgroup {
        display: inline-block;
        margin-right: 10px;

        h5 {
          margin-bottom: 0px;
        }
      }
    }
  }

  h5 {
    font-family:@sans-serif;
    color:@gray--light;
    text-transform: uppercase;
    .centered;
    display: block;
    margin: 0px;
  }
}
