.colorSwatch {
  display: inline-block;
  color: @white;
}

.black {
  background-color: @black;
}

.white {
  background-color: @white;
  color: @black;
}

.gray {
  background-color: @gray;
}

.lightGray {
  background-color: @gray--light;
}

.darkGray {
  background-color: @gray--dark;
}

.primary {
  background-color: @primary;
}

.secondary {
  background-color: @secondary;
}

.accent {
  background-color: @accent;
  color:@black;
}
