include ../../components/link-list/markup/link-list.jade

header.container
  div(class="row")
    div(class="logo")
      a(href="/")
        img(src="/assets/logo.png" alt="Starkey Logo" title="Starkey Logo")
    if(utilityNav)
      nav(id="utility-nav" class="navigation clearfix")
        +linkList(utilityNav.links)
    if(mainNav)
      nav(id="main-nav" class="navigation")
        +linkList(mainNav.links)
